<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".debug.CrashHarnessActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <provider
            android:name=".debug.DebugDocumentsProvider"
            android:authorities="com.toolbox.tools.debug.documents"
            android:exported="false"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
